# VUnit outputs
*/vunit_out/
*/vunit_out/*
*.cf

# Vivado-related directories
.Xil/*
project/*

# Virtual environment artefacts
venv/*

# Vivado generated
*.jou
*.log
*.str
*.cache
*.runs
*.sim
*.hw
*.ip_user_files
*.gen
*.xpr

# OS / editor junk
.DS_Store
*.swp
nul
